#wrapper {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

h1, h2, h3 {
  color: white;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  color: white;
}

#notes {
  float: right;
  width: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}